extends ../layout/main

block content
    .boardDetail__title=board.title
    .boardDetail__content=board.content
    .board__number
            span#jsBoardNumber=board.comments.length
            |    Comments
    form#jsAddBoardComment
        input(type="text", placeholder="Write Comment")
    ul.board__comment-list#jsBoardCommentList
        each comment in board.comments.reverse()
            li#jsBoardListLi
                span=comment.text
                button#jsAddBtn +
                a(href=routes.deleteBoardComment(comment.id))
                    button -
                button#jsEditBtn 수정
    a(href=routes.boardEdit(board.id))
        button Edit